.scrollPages {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.numberPage {
  text-align: center;
  display: inline-block;
  color: #f6851e;
  cursor: pointer;
  width: 30px;
  padding: 10px;
  background-color: white;
  border: none;
}
.numberPage:hover {
  background-color: rgb(241, 241, 241);
}

.selectedPage {
  font-size: large;
  font-weight: bold;
}
