.form {
  display: flex;
}

.posts {
  margin-top: 20px;
}

.addPost {
  display: block;
  background-color: #ffc085;
  border: 1px solid #ffc085;
  padding: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.addPost:hover {
  color: #f6851e;
  background-color: white;
}
