.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}

.formControl.error span {
  color: red;
}

.formSummeryError {
  display: block;
  border: red 1px solid;
  padding: 5px;
  color: red;
}

.checkbox {
  display: flex;
  margin: 10px 0 10px 0;
}

.loginBtn {
  background-color: #ffc085;
  border: 1px solid #ffc085;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 10px;
  display: block;
  margin: 10px 0 0 0;
}

.loginBtn:hover {
  color: #f6851e;
  background-color: white;
}
