.header {
  grid-area: h;
  background-color: #f6851e;
  margin-bottom: 40px;
}

.header img {
  margin-left: 10px;
  width: 60px;
}

.loginBlock {
  padding: 20px;
  float: right;
}

.loginBlock a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
