.description_block {
  margin: 20px;
}

.avatar {
  display: block;
  width: 260px;
}

.status_preloader {
  width: 20px !important;
  height: 20px;
}

.img_block {
  margin-top: -30px;
  margin-left: -50px;
  padding: 0;
  overflow: hidden;
  width: 810px;
  height: 250px;
  outline: none;
}

.photo_block {
  display: inline-block;
}

.edit_profile {
  margin-top: 10px;
}

.button {
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: #f6851e;
  border: 1px solid #ffc085;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.button:disabled {
  cursor: auto;
  color: grey;
  border: 1px solid grey;
}

.load_photo_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.load_photo_block {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.description {
  padding-left: 20px;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.fullName {
  margin-bottom: 10px;
  color: #612f00;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.description_string {
  padding-right: 20px;
}

.label {
  width: 150px;
  display: inline-block;
  color: gray;
  vertical-align: top;
}

.status {
  display: inline-block;
  vertical-align: top;
}

.status a {
  display: block;
}

.value {
  display: inline-block;
  width: 215px;
}

.pointer {
  cursor: pointer;
}

.statusBlock {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}

.input {
  outline: none;
  width: 200px;
}

.statusPreloader {
  width: 10px;
  height: 10px;
}
