.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1000px;

  grid-template-rows: none;
  grid-template-columns: 1fr 10fr;
  grid-gap: 20px;
}

.block {
  padding: 25px 25px 25px 25px;
  border-radius: 7px;
  border: 1px solid #61616128;
  background-color: white;
}
