.dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
  grid-gap: 20px;
  grid-row-gap: 0px;
}

.dialog_items {
  display: flex;
  flex-direction: column;
}

.dialog img {
  display: inline;
  width: 50px;
}

.friendName {
  padding-left: 5px;
  display: inline-block;
}

.dialog span {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0 10px;
}

.messagesElements {
  overflow: auto;
}

.messagesNone {
  display: none;
}

.dialog a {
  text-decoration: none;
  color: black;
}

.dialog a.active {
  color: #f6851e;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
  font-size: 14px;
}

.message_mine {
  margin: 30px;
  text-align: right;
}

.message_mine span {
  padding: 10px;
  border-radius: 5px;
  background-color: #f1c296;
}

.message_foreign {
  margin-bottom: 30px;
  text-align: left;
}

.message_foreign span {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
}

.dialogsHidden {
  display: none;
}

.form {
  display: flex;
}

.sendButton {
  display: block;
  padding: 14px 10px;
  background-color: #ffc085;
  border: 1px solid #ffc085;
  cursor: pointer;
  transition: background-color 0.2s;
}
.sendButton:hover {
  color: #f6851e;
  background-color: white;
}

.showMoreButton {
  border: none;
  padding: 10px;
  background-color: #ffc085;
  border: 1px solid #ffc085;
  cursor: pointer;
  margin-top: 10px;
}
.showMoreButton:hover {
  color: #f6851e;
  background-color: white;
}

.sidebarFriend {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.sidebarFriend:hover {
  background-color: rgb(241, 241, 241);
}
